<div id="userAddress">
    <!--userAddress header-->
    <header class="user_address_header">
        <div class="user_address"><a href="#mine"><img src="component/mine/scbb/img/goback.png" alt=""></a></div>
        <div class="user_address_add">新增</div>
        <div class="user_address_title"><a href="javascript:void (0)">收货地址</a></div>
    </header>
    <!--userAddress main-->
    <section>
        <div class="address_list">
            <ul class="address_show">
                <li class="address_show_one">
                    <div class="address_info">
                        <span></span>
                        <div class="address_detail">
                            <p>
                                <span class="address_name">hulu</span>
                                <span class="address_phone">134****9626</span>
                                <span class="default_note">默认</span>
                            </p>
                            <p class="address_user_address">新马路融科天城一期T6,2205</p>
                        </div>
                        <a href=""><span class="address_write"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>