<div data-ui-view="">
	<div id="userAddress">
	    <!--userAddress header-->
	    <header class="user_address_header">
	        <div class="user_address"><a href="#mine"><img src="component/mine/scbb/img/goback.png" alt=""></a></div>
	        <div class="user_address_add" ui-sref=".adduseraddress">新增</div>
	        <div class="user_address_title"><a href="javascript:void (0)">收货地址</a></div>
	    </header>
	    <!--userAddress main-->
	    <section>
	        <div class="address_list">
	            <ul class="address_show">
	                <li class="address_show_one" ng-repeat="obj in objArr">
	                    <div class="address_info">
	                        <span></span>
	                        <div class="address_detail">
	                            <p>
	                                <span class="address_name">{{obj.name}}</span>
	                                <span class="address_phone">{{obj.phone}}</span>
	                                <span class="default_note">默认</span>
	                            </p>
	                            <p class="address_user_address">{{obj.detail}}</p>
	                        </div>
	                        <a href="" ><span class="address_write" ui-sref=".addaddress"></span></a>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </section>
	</div>
</div>