<div id="youhui">
    <!--youhui header-->
    <div class="youhui_header">
        <div class="coupon_tabs">
            <a href="" ng-click="changeStyle1()" ng-class="{true:'active',false:'normal'}[changeColor1]">店铺券</a>
            <a href="" ng-click="changeStyle2()" ng-class="{true:'active',false:'normal'}[changeColor2]">全场券</a>
        </div>
        <div class="coupon_list">
            <div class="coupon_list_shop">
                <div class="no_coupon">
                    <img src="component/mine/youhui/img/no.png" alt="">
                    <p>您还没有优惠券</p>
                </div>
            </div>
        </div>
    </div>
</div>