<div id="userShop">
    <!--userShop header-->
    <header class="user_shop_header">
        <div class="user_shop"><a href="#home"><img src="component/mine/scbb/img/goback.png" alt=""></a></div>
        <a class="user_shop_add" href="#category"></a>
        <div class="user_shop_title"><a href="javascript:void (0)">收藏的店铺</a></div>
    </header>
    <!--userShop main-->
    <div class="user_shop_noLove">
        <img src="component/mine/shop/img/nolove.png" alt="">
        <p>还没有收藏过任何店铺呢</p>
        <a href="#home">去首页逛逛 > </a>
    </div>
</div>