<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/swiper-3.3.1.min.css"/>
	<script src="libs/jquery-1.12.3.js" type="text/javascript"></script>

    <script src="libs/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/me-lazyload.js" type="text/javascript"></script>
	<script src="libs/angular-ui-router.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/angular-css.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="app.js" type="text/javascript" charset="utf-8"></script>
	<script src="component/home/home.js" type="text/javascript" charset="utf-8"></script>
	<script src="component/category/category.js" type="text/javascript" charset="utf-8"></script>
	<script src="component/buycar/buycar.js" type="text/javascript" charset="utf-8"></script>
	<script src="component/mine/mine.js" type="text/javascript" charset="utf-8"></script>

	<!--home页面引进的js-->
	<script src="component/home/mrsx/mrsx.js" type="text/javascript"></script>
	<script src="component/home/HomeDetial/HomeDetial.js" type="text/javascript"></script>
	<script src="component/home/pptm/pptm.js" type="text/javascript"></script>
	<script src="component/home/gwzy/gwzy.js" type="text/javascript"></script>
	<script src="component/home/nzdp/nzdp.js" type="text/javascript"></script>
	<script src="component/home/yzlx/yzlx.js" type="text/javascript"></script>
	<script src="component/home/zuixin/zuixin.js" type="text/javascript"></script>
	<script src="component/home/jingxuan/jingxuan.js" type="text/javascript"></script>
	<script src="component/home/moren/moren.js" type="text/javascript"></script>
    <script src="component/home/nzdp/nzdpDetial/nzdpDetial.js" type="text/javascript"></script>

	<!--分类的js-->
	<script src="component/category/more/more.js" type="text/javascript"></script>
	<script src="component/category/more/moreShop/moreShop.js"></script>
	<script src="component/category/search/search.js"></script>

	<!--我的页面js-->
	<script src="component/mine/scbb/scbb.js" type="text/javascript"></script>
	<script src="component/mine/address/address.js" type="text/javascript"></script>
	<script src="component/mine/address/addaddress/addaddress.js" type="text/javascript" charset="utf-8"></script>
	<script src="component/mine/address/adduseraddress/adduseraddress.js" type="text/javascript" charset="utf-8"></script>
	<script src="component/mine/youhui/youhui.js" type="text/javascript"></script>
	<script src="component/mine/shop/shop.js" type="text/javascript"></script>
</head>
<body data-ng-app="myApp" ng-controller="myCtrl">
	<!--<div id="wrap">-->
		<!--data-ui-view=""承载其他页面-->
		<div data-ui-view="" id="main"></div>
		<ul id="tap" >
			<li ng-click="changeStyle()" ui-sref=".home"><a href="" ng-class="{true:'active',false:'noActive'}[isActive1]"><span ng-class="{true:'changes',false:'noChanges'}[changesStyle]"></span><p>首页</p></a></li>
			<li ng-click="changeStyle2()" ui-sref=".category"><a href="" ng-class="{true:'active',false:'noActive'}[isActive2]"><span ng-class="{true:'changes',false:'noChanges'}[changesStyle2]"></span><p>分类</p></a></li>
			<li ng-click="changeStyle3()" ui-sref=".buycar"><a href="" ng-class="{true:'active',false:'noActive'}[isActive3]"><span ng-class="{true:'changes',false:'noChanges'}[changesStyle3]"></span><p>购物车</p></a></li>
			<li ng-click="changeStyle4()" ui-sref=".mine"><a href="" ng-class="{true:'active',false:'noActive'}[isActive4]"><span ng-class="{true:'changes',false:'noChanges'}[changesStyle4]"></span><p>我</p></a></li>
		</ul>
	<!--</div>-->
</body>
</html>
<script>
	document.documentElement.style.fontSize = innerWidth / 28 + 'px';
	window.addEventListener('resize', function() {
		document.documentElement.style.fontSize = innerWidth / 28 + 'px';
	});
</script>
