
<div data-ui-view="">
<div class="nzdpImg1"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_30l19b0120bb5jj201aflbd8a5jlb_750x958.jpg" alt=""></div>
<div class="nzdpImg2"><img lazy-src="http://s16.mogucdn.com/p2/161109/upload_1a49kkkej7h6892j4lcb9fle2a64d_750x753.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_8bcd1k9c5h8f300flg6gka5gc0f8c_750x623.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_00jhja68244ekd33b4id2h2l7d2lh_750x645.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s18.mogucdn.com/p2/161109/upload_73g06804e78d12kf2d2948i9bg8hd_750x637.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_40eh30kjf15g6chhj2545lae4dlkj_750x628.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s16.mogucdn.com/p2/161109/upload_29ga88i3cij2h7787iii95b989dcd_750x610.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s18.mogucdn.com/p2/161109/upload_4eibblfd01fccj5heklbgehgii1e2_750x632.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s18.mogucdn.com/p2/161109/upload_86kll0ec83179adhi87238cchgb5d_750x623.jpg_999x999.v1c0.webp"1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s18.mogucdn.com/p2/161109/upload_1g51h47c0aeldfd3d11el277def2d_750x638.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_331ecb8k0jafe56bl4hg3h8714gl7_750x626.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_0l5afibh4bde5k2e2cl09fbag7j12_750x634.jpg_999x999.v1c0.webp" alt=""></div>
<div class="nzdpImg3"><img lazy-src="http://s17.mogucdn.com/p2/161109/upload_16bak033jlid9i2lcfblg637487c0_750x672.jpg_999x999.v1c0.webp" alt=""></div>

<div class="nzdpList">
    <div class="nzdpTap">
        <a href="#"><span>全部</span></a>
        <a href="#"><span>裙子</span></a>
        <a href="#"><span>上装</span></a>
        <a href="#"><span>夏装</span></a>
    </div>
    <ul>
        <li ng-repeat="obj in arr1" ng-click="look(obj)" ui-sref=".nzdpDetial"><div class="liImg"><img lazy-src="{{obj.item_pc_img}}" alt=""></div><p>{{obj.title}}</p><div class="price"><span>￥{{obj.discountPrice}}</span><span>{{obj.price}}</span></div></li>
    </ul>

</div>



</div>



















