
<div class="Homehead">

</div>
<div class="HomeSearch">
    <a href="#"></a>
    <input type="text">
    <div class="HomeSearchRight"></div>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"  ng-repeat="obj1 in banner"><img ng-src="{{obj1.image}}" /></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    <!--<div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>-->

    <!-- 如果需要滚动条 -->
    <!-- <div class="swiper-scrollbar"></div>-->
</div>
        <div class="clearfix"></div>
        <!--每日上新，品牌特卖-->
        <div class="list1">
            <ul>
                <li ui-sref=".mrsx"><img ng-src="http://s16.mogucdn.com/p2/160804/upload_3166f8jgj5jl2c80l41e0j0c1dh9h_210x210.png" alt="每日上新"></li>
                <li ui-sref=".pptm"><img ng-src="http://s18.mogucdn.com/p2/160804/upload_3c2i4efb830ka41ei57a70gj494ah_210x210.png" alt="品牌特卖"></li>
                <li ui-sref=".gwzy"><img ng-src="http://s17.mogucdn.com/p2/160804/upload_26kga7j2hj87ald9fj43ilc3igf0k_210x210.png" alt="官网直邮"></li>
                <li ui-sref=".nzdp"><img ng-src="http://s18.mogucdn.com/p2/160804/upload_3lff1kfa0e644099gf9e2f5g9j6j0_210x210.png" alt="女装大牌"></li>
                <li ui-sref=".yzlx"><img ng-src="http://s16.mogucdn.com/p2/160804/upload_0h522kgec920db7ih7i251al1ell1_210x210.png" alt="一周流行"></li>
            </ul>
        </div>
    <!--三大块-->
    <div class="clearfix"></div>
    <div class="higqulity">
        <div class="cloth1">
            <div class="titleBox">
                <div class="zz"></div>
            <img src="http://s2.mogucdn.com/p2/161222/arkmaster_1520gceail02ae4d0ga6hk91d8gei_749x460.png_640x999.v1c96.70.webp" alt="">
            <p class="titleBoxP1">跟关晓彤学减龄穿搭</p><p class="titleBoxP2">123款商品</p>
            </div>
            <div class="cloth1List">
                <ul>
                    <li ><img ng-src="http://s2.mogucdn.com/p2/161120/arkmaster_76j80g0k27jcc49bighf549155h1i_639x859.png_360x360.v1cAC.70.webp" alt="每日上新"><p>关晓彤明星同款大衣</p><p>￥236.00</p></li>
                    <li ><img ng-src="http://s2.mogucdn.com/p2/161023/878417501_4k73e2jdl3fkje59fe4g950c0i78d_640x960.jpg_360x360.v1cAC.70.jpg" alt="品牌特卖"><p>酒红双线美甲</p><p>￥36.00</p></li>
                    <li ><img ng-src="http://s2.mogucdn.com/p2/161125/m2fv5v_6l7h4iek7l7gb1485k3icl5048e2f_640x960.jpg_360x360.v1cAC.70.jpg" alt="官网直邮"><p>赵丽颖明星同款大衣</p><p>￥536.00</p></li>
                    <li ><img ng-src="http://s2.mogucdn.com/p2/161026/891223074_5c4aj097lj0d1dgee33jiib8jh53l_640x908.jpg_360x360.v1cAC.70.jpg" alt="女装大牌"><p>李智贤明星同款秋装大衣</p><p>￥236.00</p></li >
                    <li ><img ng-src="http://s2.mogucdn.com/p2/161127/1476125306_34g2b1f9kj3g76l9352gk8b772818_640x900.jpg" alt="一周流行"><p>李智贤明星同款秋装大衣</p><p>￥236.00</p></li>
                </ul>
            </div>
        </div>
     </div>



































































































































































































