
<div class="Homehead">

</div>
<div class="HomeSearch">
    <a href="#"></a>
    <input type="text">
    <div class="HomeSearchRight"></div>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"  ng-repeat="obj1 in banner"><img ng-src="{{obj1.image}}" /></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    <!--<div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>-->

    <!-- 如果需要滚动条 -->
    <!-- <div class="swiper-scrollbar"></div>-->
</div>


































































































































































































