<div id="addAddress">
	<!--addAddress header-->
	<header class="user_addAddress_header">
	    <div class="user_addAddress"><a href="#mine/address"><img src="component/mine/scbb/img/goback.png" alt=""></a></div>
	    <div class="user_addAddress_add">保存</div>
	    <div class="user_addAddress_title"><a href="javascript:void (0)">收货地址</a></div>
	 </header>
	<!--addAddress main-->
	<div class="addressErrorMessage"></div>
	<div id="detail_address" ng-repeat="obj2 in objArr2">
		<p class="address_detail_info">
			<label for="addressUser">
				<input type="text" placeholder="收货人" name="" id="addressUser" value="{{obj2.name}}" />
			</label>
		<p>
		<p class="address_detail_info">
			<label for="validatePhoneOrMobile">
				<input type="text" placeholder="收货人" name="" id="validatePhoneOrMobile" value="{{obj2.phone}}" />
			</label>
		<p>
		<p class="address_detail_info">
			<label for="addressPid" class="select_box">
				<span class="notice note_hidden"></span>
				<select id="addressPid" name="province" ng-model="selected" ng-options="s.name for s in list" ng-change="c()">
					<option value="">{{obj2.province}}</option>
	         	</select>	
				<span class="select_btn"><i></i></span>
			</label>
		<p>
		<p class="address_detail_info">
			<label for="addressCid" class="select_box">					
				<span class="notice note_hidden"></span>	
				<select id="addressCid" name="city" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
	                <option value="">{{obj2.city}}</option>
	          	</select>
				<span class="select_btn"><i></i></span>				
			</label>
		<p>
		<p class="address_detail_info">				
			<label for="addressDid" class="select_box">					
				<span class="notice note_hidden"></span>	
				<select id="addressDid" name="area" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
	                  <option value="">{{obj2.area}}</option>
	          	</select>
				<span class="select_btn"><i></i></span>				
			</label>			
		</p>
		<p class="address_detail_info">				
			<label for="addressStreet">					
				<input id="addressStreet" type="text" name="address" placeholder="详细地址(必填)" value="{{obj2.detail}}">				
			</label>			
		</p><p class="address_detail_info">				
			<label for="addressPostcode">					
				<input id="addressPostcode" type="tel" name="zip" value="{{obj2.mail}}" placeholder="邮政编码(选填)">				
			</label>			
		</p>
		<div class="address_detail_info">				
			<div class="set_address">					
				<span>设为默认地址</span>										
				<input type="checkbox" name="isDefault" id="is_default" value="944405279" checked="" style="display:none">					
				<span class="switch_btn switch_check">						
					<i class="inner_circle"></i>					
				</span>				
			</div>
		</div>
		<div class="dele_address" ng-click="dele_address(obj2.id)">
			删除地址
		</div>
	</div>
	
</div>