<div id="buycar">
    <!--buycar header-->
    <header class="buyHeader">
        <div class="buyGoBack"><img src="component/buycar/img/buyback.png" alt=""></div>
        <div class="buyDele">删除</div>
        <div class="buyTitle"><a href="javascript:void (0)">购物车</a></div>
    </header>

    <!--buycar cart-->
    <div class="buyCart">
        <ul class="buycarList" ng-hide="!isShow">
            <li class="cartList" ng-repeat="(i,obj) in arr">
                <div class="buycarShop" style="display: none;">
                    <div class="buyBox_btn">
                        <input type="checkbox" class="select_shop">
                        <label></label>
                    </div>
                    <div class="buyShop_name">
                        <a href="">店铺：小月SHOP</a>
                    </div>
                    <div class="buyFold"></div>
                    <div class="buyTotal_price">
                        合计:
                        <span class="shop_price_text">¥176.00</span>
                    </div>
                </div>
                <ul class="order_goods_list">
                    <li class="buycar_goods">
                        <div class="buyBox_btn" id="btn">
                            <input type="checkbox" class="select_shop" >
                            <label ng-class="{true:'selected',false:'noselect'}[changeSelect]" ng-click="select(obj,obj.obj.shopId)"></label>
                        </div>
                        <div class="buycar_goods_main">
                            <a href=""><img ng-src="{{obj.obj.show.img}}" alt=""></a>
                            <div class="buycar_goods_info">
                                <a href=""><p>{{obj.obj.title}}</p></a>
                                <p class="buycar_goods_prop">
                                    <span class="style_color">颜色：红毛衣</span>
                                    <span>尺码：均码</span>
                                </p>
                                <div class="buycar_numBox">
                                    <div class="minus" ng-click="subCount(i)">-</div>
                                    <input type="text" name="" id="" value="{{obj.count}}" class="buycar_goods_count"/>
                                    <div class="add_plus" ng-click="addCount(i)">+</div>
                                </div>
                            </div>
                            <div class="buycar_goods_right">
                                <p class="buycar_goods_price">{{obj.obj.price}}</p>
                                <p class="buycar_goods_origin_price"> {{obj.obj.orgPrice}}</p>
                                <div class="buycar_goods_dele_btn" ng-click="dele_goods(i)"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!--无商品界面-->
        <div class="none_goods" ng-hide="isShow">
            <div class="none_info">
                <p>您的购物车还空着呢，</p>
                <p>美物这么多，快去看看吧～</p>
                <a href="#category" id="goCategory">去逛逛</a>
            </div>
        </div>
    </div>
    <!--buycar total-->
    <div class="buycar_total" ng-hide="!isShow">
        <div class="buycar_total_ctrl">
            <div class="buycar_goods_check_total">
                <div class="buyBox_btn">
                    <input type="checkbox" class="select_all_shop">
                    <label ng-click="selectAll()" ng-class="{true:'chocie_all',false:'isChocie_all'}[isAll]"></label>
                </div>
                <span>全选</span>
            </div>
            <div class="order_msg">
                <p class="order_msg_price">
                    合计:
                    <span class="order_msg_totalPrice">¥{{total}}</span>
                </p>
                <p class="order_msg_notic">不含运费、优惠扣减</p>
            </div>
            <input type="submit" value="去结算(1)">
        </div>
    </div>
    <!--弹出信息-->
    <div class="alert" ng-class="{true:'maxCount',false:'minCount'}[isCount]">数量不能小于1</div>

    <!--弹出信息-->
    <div class="alert" ng-class="{true:'true',false:'false'}[isTrue]">删除商品成功</div>
</div>
