<div data-ui-view="" id="categoryMore">
    <div class="categoryTopimg">
        <img src="img/categorytop.png" alt="">
    </div>
    <div class="categorySearch">
        <div class="categoryDazuiba"><a href="#home"></a></div>
        <input type="search" autocomplete="off" placeholder="毛呢外套" data-value="毛呢外套">
        <div class="categorySearchDian"></div>
    </div>

    <div class="moreTop">
        <ul>
            <li ng-click="moreFashion()" ng-class="{true:'moreColor1',false:'moreColor2'}[moreChangeColor1]" class="moreTopLi">流行</li>
            <li ng-click="moreHot()" ng-class="{true:'moreColor1',false:'moreColor2'}[moreChangeColor2]">热销</li>
            <li ng-click="morePrice()" ng-class="{true:'moreColor1',false:'moreColor2'}[moreChangeColor3]">价格 <i class="fa fa-angle-down"></i></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="moreCount">
        <ul class="moreCountUl-1">
            <li ng-repeat="obj in arr" ng-show="!show1">
                <img src="{{obj.show.img}}" alt="">
                <p>{{obj.title}}</p>
                <div class="moreCountSpanCenter"><span>{{obj.price}}</span><span>{{obj.orgPrice}}</span></div>
                <p>{{obj.cfav}}人已购买</p>
                <!--<img class="moreCountLastImg" src="{{obj.lefttop_taglist.img}}">-->
            </li>
        </ul>
        <ul class="moreCountUl-2" ng-show="!show2">
            <li ng-repeat="obj in arr1">
                <img src="{{obj.show.img}}" alt="">
                <p>{{obj.title}}</p>
                <div class="moreCountSpanCenter"><span>{{obj.price}}</span><span>{{obj.orgPrice}}</span></div>
                <p>{{obj.cfav}}人已购买</p>
                <!--<img class="moreCountLastImg" src="{{obj.lefttop_taglist.img}}">-->
            </li>
        </ul>
        <ul class="moreCountUl-3" ng-show="!show3">
            <li ng-repeat="obj in arr2">
                <img src="{{obj.show.img}}" alt="">
                <p>{{obj.title}}</p>
                <div class="moreCountSpanCenter"><span>{{obj.price}}</span><span>{{obj.orgPrice}}</span></div>
                <p>{{obj.cfav}}人已购买</p>
                <!--<img class="moreCountLastImg" src="{{obj.lefttop_taglist.img}}">-->
            </li>
        </ul>
    </div>